.DS_Store

# ignore pycache folder
src/__pycache__/

# ignore data files
data/*
!data/data.md

# ignore weights and biases files
wandb/*

# ignore results 
results/masks/*
results/output_images/*

# ignore model saves and train stat files
model_saves/*
!model_saves/model_saves.md
train_stats/*
!train_stats/train_stats.md
