.DS_Store

# ignore pycache folder
src/__pycache__/

# ignore notebook checkpoints
*/.ipynb_checkpoints/

# ignore data files
data/*
!data/data.md

# ignore model saves and train stat files
model_saves/*
multitask_model_saves/*
!model_saves/model_saves.md
train_stats/*
!train_stats/train_stats.md

# ignore bash scripts and slurm output files

*.sh
slurm*

# ignore output and wandb files
scripts/outputs/
scripts/wandb/
sweepJobs/
sweepOuts/
